/* Login - Signup Form */

.login-signup {
  position: relative;
  top: 50%;
  width: 250px;
  display: table;
  margin: 150px auto 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

.legend{
  width: 100%;
  display: block;
  background-color: #AA1111;
  padding: 15px;
  color: #fff;
  font-size: 20px;
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;
}

.input span{
  position: absolute;
  display: block;
  color: darken(#EDEDED, 10%);
  left: 10px;
  top: 8px;
  font-size: 20px;
  color: #373a47;
  }

.input input{
  width: 100%;
  padding: 10px 5px 10px 40px;
  display: block;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  transition: 0.2s ease-out;
  color: darken(#EDEDED, 30%);
}
.input input:focus{
  padding: 10px 5px 10px 10px;
  outline: 0;
  border-color: #AA1111;
}


/* Add item - form */
.add-form {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}
.add-form.payer-form {
  padding: 0 20px;;
}

.add-title,
.add-price {
  margin-right: 10px;

}
.add-price {
  width: 30%;
}

.add-btn input,
.add-btn input:visited {
  color: #fff;
  margin-top: 17px;
  background: #AA1111;
  padding: 10px;
  cursor: pointer;
  opacity: 1 !important;
}
.add-btn input:hover {
  background: #fff;
  border: 1px solid #AA1111;
  color: #AA1111;
}
.add-btn.payer-add input{
  background: #fff;
  color: #AA1111;
  border: 1px solid #AA1111;
}


.upload-btn {
  margin-top: 15px;
}
.label-upload {
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}
.image-box {
  width: 90%;
  margin: -30px auto 0 auto;
  width: 35%
}

/* tax button */
.add-tax-btn {
  margin-left: 20px;
}

@media only screen and (max-width: 400px) {
  .add-form {
    display: block;
    padding: 0;
    text-align: center;
  }
  .add-form.payer-form {
    display: flex;
    margin-top: -10px;
    margin-bottom: 5px;
    padding: 0;
  }
  .input.payer-title {
    width: 70%;
  }
  .add-btn.payer-add input {
    margin-top: 15px;
    width: 60px;
  }
  .add-price {
    width: 90%;
  }
  .add-btn input,
  .add-btn input:visited {
    margin-top: 0;
    /* padding: 10px; */
    width: 100px;
  }
  .upload-btn {
    width: 100px;
    heght: 40px;
  }
  .add-tax-btn {
    margin: 0;
  }

}
