.row-items.row-item-payer {
  width: 100% !important;
}

.row-bill-payers {
  text-align: left;
  margin: 10px auto;
  font-size: 0.7em;
  font-family: 'PT Sans Narrow', sans-serif;
  border-bottom: 1px solid #a8a8a8;
  color: #AA1111;
}
.row-unassigned {
  display: inline-block;
  width: 100%;
}

.row-payers {
  display: flex;
}
.payer-name {
  margin-right: 3px;
}

.bill-payer-box {
  cursor: pointer;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  transition: 0.25s ease-out;
}
.bill-payer-box:hover {
  color: #fff;
  background: #a8a8a8;
}
.bill-payer-box:hover .row-payers {
  color: #fff;
}
.bill-payer-box:hover .row-item-payer {
  color: #AA1111;
}
.bill-payer-box:hover .row-unassigned {
  color: #fff;
}

.click-payer {
  color: #66666;
  margin-bottom: 30px;
  color: #a8a8a8;
}
.click-name {
  font-size: 0.7em;
  color: #a8a8a8;
}

.payer-modal-box {
  margin: 0 30px;
  text-align: center;
}

.item-name {
  text-align: center;
  font-size: 0.7em;
  border-bottom: 1px solid #e5b7b7;
  margin: 0 auto;
  font-style: italic;
}
.payer-render-name {
  display: inline-block;
  margin-left: 20px;
  font-size: 0.8em;
  font-family: 'PT Sans Narrow', serif;
  text-align: left;
  width: 100px;
}
.icon-trash {
  font-size: 0.7em;
  color: #AA1111;
}
.btn.signup.payer-done {
  margin-top: 10px;
}

.tip-box {
  margin: 0 auto;
}
.tip-name {
  text-align: center;
  font-weight: bold;
}
.rc-slider {
  width: 600px;
  margin-top: 30px;
}


/* Payer Page */
.bill-name {
  border-bottom: 1px solid #AA1111;
  width: 70%;
  margin: 0 auto 20px auto;
}
.bill-name p {
  width: 70%;
  display: inline-block;
  margin-bottom:
}
.icon-bill-edit {
  width: 20%;
  margin-left: 20px;
  cursor: pointer;
  color: #a8a8a8;
}

.row-items.payer-rows {
  margin: 20px auto;
  padding: 10px 7px;
  border-bottom: 1px solid #a8a8a8;
  cursor: pointer;
  width: 70%;
  transition: 0.25s ease-out;
}
.row-items.payer-rows:hover {
  background: #AA1111;
  color: #fff;
}

.payer-top-name {
  color: #AA1111;
  font-weight: 700;
  margin-bottom: 20px;
}
.click-detail {
  font-size: 0.7em;
  color: #a8a8a8
}


@media only screen and (min-width: 401px) and (max-width: 800px) {
  .rc-slider {
    width: 320px;
  }
}

@media only screen and (max-width: 400px) {
  .payer-modal-box {
    margin: 0 10px;;
  }
  .bill-payer-box {
    width: 90%;
  }
  .row-bill-payers {
    font-size: 0.5em;
  }
  .click-payer {
    font-size: 0.5em;
    margin-bottom: 10px;
  }
  .click-name {
    margin-bottom: 20px;
    font-size: 0.5em;
  }
  .payer-render-name {
    font-size: 0.6em;
  }
  .item-name {
    margin-bottom: 5px;
  }
  .checkbox-box {
    margin-top: -15px;
  }

  .rc-slider {
    width: 240px;
  }
  .bill-name p {
    font-size: 0.7em;
  }
  .icon-bill-edit {
    font-size: 0.7em;
  }
  .btn.signup.payer-done {
    width: 100px;
    height: 35px;;
  }
  .icon-trash {
    font-size: 0.6em;
  }
  .click-detail {
    font-size: 0.5em;
    padding: 0;
  }


}
